body{
  margin:0;
  background-color: #0e2353;
}
/* .container{
  background-color: #0e2353;
} */

#video-background{
  max-width:1420px;
}

.content{
  position:absolute;
  bottom: 0;
  color:mistyrose;
  text-align: center;
  width: 100%;
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-size: 5em;
  font-style: normal;
  padding-bottom: 20%;
}

/* .full-screen-image{
  background-image: url("climate change.jpeg");
  height: 100vh;
  background-size: cover; 
  background-position: center center; 
} */


.large-wrapper{
  width: 100%;
  max-width: 1000px;
  margin:auto;
  /* margin-bottom: 50vh; */
  background-color: #0e2353;
}

.header-wrapper{
  width: 100%;
  margin-bottom: 50px;
  margin-top: 10px ;
  position: sticky;
  top: 0px;
  z-index: 2;
  text-align: center;
  color:#0e2353;
  background-color: mistyrose;
  padding: 3px 0px 3px 0px;
  border-radius: 50px;
}

.click-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color:mistyrose;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size:150%;
}

.main-wrapper{
  display: flex;
  gap: 20px;
  background-color: #0e2353;
  /* margin-bottom: 50px; */
}

.left-wrapper{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color:mistyrose;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size:150%;
}

.text-box-wrapper{
  /* background-color: rgb(64, 157, 187); */
  padding: 5px;
}


.right-wrapper{
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.extra-image-wrapper{
  display: flex;
  gap: 20px;
}

.image-box-wrapper{
  width: 100%;
  /* height: 200px; */
}

.image-box-wrapper img{
  width: 100%;
  display: block;
}

.image-box-wrapper:hover img{
  opacity: 70%;
  /* transform: translate(0px, -20px); */
  transform: scale(1.1)
}

.canvas-wrapper{
  display: flex;
  flex-direction: column;
  position: sticky;
  gap: 20px;
  top: 110px; 
  height: auto;
}

.canvas-container{
  width: 100%;
}

.canvas-container canvas{
  width: 100% !important;
  height: 100% !important;
}

.invsible-buffer{
  width: 100%;
  /* height: 300px; */
  height: 50px;
  /* background-color: rgb(204, 225, 210); */
}

.fin-wrapper{
  height: 10px;
  /* background-color: rgb(169, 246, 187); */

}
